body {
  background: rgb(170, 130, 36);
  background: radial-gradient(circle, rgb(240, 183, 54) 0%, rgb(170, 130, 36) 100%);
  color: white;
}
.registerButton {
  background-color: rgb(10, 31, 56);
}
.registerButton:hover {
  background-color: rgb(10, 31, 56);
  scale: 1.005;
}

.NavBar {
  background: rgb(123, 137, 98);
}
